// main
$main-bg-col: hsl(0, 0%, 8%) !default;
$header-col: hsla(0, 0%, 16%, 0.5) !default;
$head-elem_col: hsl(0, 0%, 90%);
$li-color: hsl(0, 0%, 16%);
$lines: hsl(40, 100%, 85%) !default;
$placeholder: hsl(0, 0%, 50%) !default;
$text-col-lght: hsl(0, 0%, 94%) !default;
$text-col-drk: hsl(0, 0%, 15%) !default;

// borders
$bord-rad: 15px;

// button
$btn-sndmail-col: hsl(45, 100%, 55%);
$btn-sndmail-hover: hsl(45, 100%, 45%);
$btn-sndmail-disabled: hsl(0, 0%, 40%);
$btn-contact-col: hsl(78, 100%, 50%);
$btn-contact-hover: hsl(78, 100%, 40%);

// canvas
$canvas-col: linear-gradient(
  180deg,
  hsl(280, 100%, 72%),
  hsl(280, 100%, 50%)
) !default;
$canvas-glow: linear-gradient(
  90deg,
  hsl(0, 100%, 100%),
  hsl(280, 100%, 72%),
  hsl(195, 100%, 80%),
  hsl(80, 100%, 80%),
  hsl(50, 100%, 80%),
  hsl(0, 100%, 100%)
) !default;

// isvalid
$isvalid-col: hsl(15, 100%, 60%);
$isvalid-bg-col: hsl(0, 0%, 90%);
$isvalid-border: hsl(0, 0%, 80%);

// feedback
$fb-bg-col: hsla(0, 0%, 15%, 1);
$fb-bg-glow: hsl(187, 100%, 80%);
$fb-border-col: hsla(0, 0%, 60%, 0.5);
$fb-field-bg-col: hsl(0, 0%, 90%);
$fb-field-border: 2px solid;
$fb-field-border-radius: 2rem;
$fb-field-border-col: hsl(0, 0%, 80%);
$fb-field-focus-col: hsl(45, 100%, 60%);
$fb-field-btnclear-col: transparent;
$fb-field-btnclear-hover: hsla(0, 0%, 15%, 0.1);
$fb-field-iconclear-col: $placeholder;
$fb-notif-bg-succ: hsl(90, 100%, 80%);
$fb-notif-col-succ: hsl(90, 100%, 35%);
$fb-notif-bg-wait: hsl(45, 100%, 80%);
$fb-notif-col-wait: hsl(45, 100%, 35%);
$fb-notif-bg-err: hsl(15, 100%, 80%);

// fonts
$fnt-Int: 'Inter' !default;
$fnt-Rob: 'Roboto' !default;
$fnt-WDX: 'WDXL Lubrifont SC' !default;

// loading
$load-in-col: hsl(0, 0%, 100%);
$load-out-col: hsla(0, 0%, 60%, 0.5);

// footer
$ref-und-lines: hsl(80, 100%, 60%);
$text-ref: rgb(150, 150, 150);

// progressbar
$progressbar-col: linear-gradient(90deg, #ffa500, #ffd700) !default;
$progressbar-fill: rgba(120, 120, 120, 0.3) !default;

// outlines
$lines-main: 1rem solid red;
$lines-second: 0.3rem solid rgb(0, 255, 213);

// sections
$sec-1: $main-bg-col;
$sec-2: hsl(0, 0%, 12%) !default;
$sec-3: hsl(0, 0%, 5%) !default;
$sec-4: hsl(0, 0%, 12%) !default;

// transitions
$time-nav-menu: 500ms;
$time-logo: 500ms;
$time-li: 300ms;
$time-ref: 300ms;
$time-isvalid: 300ms;
$time-btn: 300ms;

// video
$video-bord-rad: 2rem;
$video-h: 18rem !default;
