@use 'data' as *;
@use 'fonts';
@use 'header';
@use 'main_section';
@use 'loading';

::selection {
  background-color: gold;
  color: rgb(35, 35, 35);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;

  display: flex;
  flex-direction: column;

  background-color: $main-bg-col;
  color: white;

  scroll-behavior: smooth;
}

main {
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  // background-color: $main-bg-col;
  // outline: $lines-main;
}

footer {
  min-height: 10rem;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: $text-col-lght;
  background-color: $header-col;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem 0;

    img {
      height: 3.5rem;

      transition-duration: $time-logo;

      &:hover {
        scale: 1.1;
      }
    }
  }

  nav {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem 1rem;

    h4 {
      grid-column: 1/4;
      font-weight: 600;
    }

    h5 {
      grid-column: 1/4;
    }

    .link {
      position: relative;

      display: grid;
      grid-template-columns: auto auto;
      gap: 0.5rem;

      color: $text-ref;

      transition-duration: $time-ref;

      .icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      p {
        align-content: end;

        font: {
          family: 'Inter';
          weight: 600;
          size: 1rem;
        }
      }

      // Эффект подчеркивания
      &::before {
        position: absolute;

        margin-top: 1.8rem;
        left: 0;

        content: ' ';
        width: 0%;
        height: 2px;

        background-color: $ref-und-lines;

        transition-duration: $time-ref;
      }

      // Появление эффекта
      &:hover::before {
        width: 100%;
      }

      &:nth-child(5) {
        grid-column: 2/3;
      }

      &:hover {
        color: $text-col-lght;
      }
    }
  }
}

.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100vw;
  height: 100vh;

  background-color: $main-bg-col;

  .loader_cont {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;

    .loader {
      width: 100%;
      height: 100%;
      border: 5px solid rgb(45, 45, 45);
      border-top: 5px solid rgb(255, 255, 255);
      border-radius: 50%;

      animation: rotate 800ms linear infinite;
    }
  }
}
