@use 'data' as *;

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transform: translateY(7rem);

  h1 {
    display: grid;
    grid-template-columns: 1fr;
    span {
      font: {
        size: 5rem;
        weight: 100;
      }
    }
  }

  .contact {
    margin: {
      top: 2rem;
      bottom: 2rem;
    }
    padding: {
      left: 3rem;
      right: 3rem;
      top: 1rem;
      bottom: 1rem;
    }
    z-index: 2;

    display: flex;
    flex-direction: row;

    font: {
      family: $fnt-Int;
      weight: 600;
      size: 1.3rem;
    }

    border-radius: 2rem;

    color: $btn-contact-col;
    outline: 1px solid $btn-contact-col;

    transition-duration: $time-btn;

    &:hover {
      outline: 1px solid transparent;
      color: $text-col-lght;
      background-color: $btn-contact-hover;
    }
  }

  .canvas {
    position: relative;

    width: 63rem;
    height: 30rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    background: $canvas-col;

    &::after,
    &::before {
      position: absolute;
      z-index: -1;

      content: '';
      height: 100%;
      width: 100%;

      padding: 1px;

      border-radius: calc(2rem + 1px);

      background: $canvas-glow;
      background-size: 600%;

      animation: glow 30s linear infinite;
    }

    &::before {
      opacity: 0.4;
      filter: blur(2rem);
    }
    &::after {
      mask: linear-gradient(
        90deg,
        transparent,
        white 30%,
        white 70%,
        transparent
      );
    }

    .rub {
      position: absolute;
      z-index: 1;

      transform: translateY(-5rem);
    }

    // Маска для линии
    span {
      position: relative;

      width: 63rem;
      height: 30rem;

      display: flex;
      justify-content: center;

      overflow: hidden;

      .line {
        position: absolute;

        transform: translate(1rem, 2rem);
      }
    }
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
