@use 'data' as *;

.WidthScroll {
  max-width: 80vw;

  display: flex;

  overflow: hidden;

  mask: linear-gradient(
    to left,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  .scroll_in {
    margin: {
      top: 1rem;
      bottom: 1rem;
    }

    display: flex;
    flex-direction: row;
    gap: 0 1rem;

    list-style-type: none;

    animation: {
      name: scroll;
      duration: 30s;
      iteration-count: infinite;
      direction: forwards;
      timing-function: linear;
    }

    &:hover {
      animation: {
        play-state: paused;
      }
    }

    li {
      width: 250px;
      height: 125px;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      transition-duration: $time-li;

      border: 1px solid $li-color;
      border-radius: 1rem;

      img {
        max-width: 12rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .scroll_in[data-direction='right'] {
    animation-direction: reverse;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@media all and (min-height: 1000px) {
  .WidthScroll {
    max-width: 100rem;
  }
}
